<!-- Will have sidebar with partials -->

<%- include('partials/admin-dashboard-sidebar'); -%>

<form class="auth-form" action="/signup">
    <label class="auth-label" for="email">Title</label>
    <input class="auth-input" type="text" name="email"  />

    <label class="auth-label" for="password">Category</label>
    <input class="auth-input" type="text" name="password"  />

    <label class="auth-label" for="password">News Article</label>
    <input class="auth-input" type="text" name="password"  />

    <br>
    <br>
    <button>Submit</button>
</form>

<!-- File & Drop Down Category -->