<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Daily News</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="sidenav">
  <h2 style="text-align: center; color: white;">Admin Dashboard</h2>
  <a href="http://localhost:3001/">Home</a>
  <a href="http://localhost:3001/api/news/add">Add News</a>
  <a href="http://localhost:3001/api/categories">Categories</a>
  <a href="#services">Approved News</a>
  <a href="#clients">Unapproved News</a>
  <a href="http://localhost:3001/api/users/logout">LogOut</a>
</div>