<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Daily News</title>
      <link rel="stylesheet" href="/styles.css">
    </head>
    <body >
      <nav class="header">
        <h1><a href="/">The Daily News</a></h1>
        
        <div class="header-right">
          
          <form>
              <input id="search" class="search-box" type="text" name="search" placeholder="Search..">
          </form>

          <% if (user === null) { %>
              <a href="/api/users/signup">Sign Up</a>
              <a href="/api/users/login">Log In</a>
          <% } else { %>
              <% if (user.role === 'admin') { %>
                <a href="/api/users/admin/dashboard">Admin Dashboard</a>
              <% } %>

              <% if (user.role === 'publisher') { %>
                <a href="/api/users/publisher/dashboard">Publisher Dashboard</a>
              <% } %>

            <a href="/api/users/logout">Log Out</a>
          <% } %>

        </div>
      </nav>


<script>
  const search = document.getElementById('search');

  search.addEventListener('keypress', async function (e) {
    if (e.key === 'Enter') {
      e.preventDefault();
      const arg = e.target.value;
      location.assign(`/api/news/search?arg=${arg}`);
    }
  });

</script>
    