<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>The Daily News</title>
      <link rel="stylesheet" href="/styles.css">
    </head>
    <body >
      <nav class="header">
        <h1><a href="/api/news">The Daily News</a></h1>
        <div class="header-right">
          <form>
              <input class="search-box" type="text" name="search" placeholder="Search..">
          </form>
            <a href="/api/users/signup">Sign Up</a>
            <a href="/api/users/login">Log In</a>
            <a href="/api/users/admin/dashboard">Dashboard</a>
            <a href="#">Log Out</a>
        </div>
      </nav>



    