<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The Daily News</title>
<link rel="stylesheet" href="/styles.css">
</head>
<body>

<div class="sidenav">
  <h2 style="text-align: center; color: white;">Publisher Dashboard</h2>
  <a href="http://localhost:3001/api/news">Home</a>
  <a href="#adds">Add News</a>
  <a href="#s">My News</a>
  <a href="#services">Approved News</a>
  <a href="#clients">Unapproved News</a>
  <a href="#contact">LogOut</a>
</div>